@import 'variables';

ul {
  margin: 1rem 0 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 1rem 0;
  border-bottom: 1px solid $dark-grey;
}

li:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
}
