@import '../../../assets/scss/variables';

.container {
  margin: 0 1rem;
}

label {
    display: block;
    margin: 1em 0;
}

textarea,
input {
  border: 1px solid $primary;
  padding: 0.125rem;
  width: calc(100% - 6px);
}

button {
  background-color: $primary;
  margin-top: 1rem;
  padding: 0.8rem 4rem;
  border: 0;
  border-radius: 4px;
}
