@import '../../../../public/scss/variables';

.container {
  margin: 0 1em;
}

textarea,
input {
  margin: 0 0 1em;
  border: 1px solid $grey;
  padding: 2px;
  width: calc(100% - 6px);
}

button {
  margin-top: 1em;
  padding: 0.8em 4em;
  border: 0;
  border-radius: 4px;
}
