@import '../../../assets/scss/variables';

.center.message {
  margin-top: -1rem;
}

ul {
  margin: 1rem 0.5rem;
  padding: 0;
  list-style: none;
}

.post:first-child {
  margin-top: 0;
}

.post:last-child {
  margin-bottom: 0;
}

.post {
  border: 1px solid $primary;
  border-radius: 4px;
  margin: 2.5rem 0;
  overflow: hidden;
}

.post.recent {
  box-shadow: 0 0 9px 9px $primary;
}
