@import '../../../../public/scss/variables';

.menu-bar {
  position: fixed;
  height: 3em;
  width: inherit;
  background-color: $light-grey;
  border-bottom: 3px solid $white;
}

.spacer {
  height: calc(3em + 3px);
}

side-bar {
  width: inherit;
}
