.menu-bar {
  position: fixed;
  height: 3em;
  width: inherit;
  background-color: #EEEEEE;
  border-bottom: 3px solid white;
}

div.spacer {
  height: calc(3em + 3px);
}

side-bar {
  width: inherit;
}