@import '../../../../public/scss/variables';

.menu-bar {
  position: fixed;
  height: 3rem;
  width: inherit;
  background-color: $primary-light;
  border-bottom: 3px solid $white;
}

.spacer {
  height: calc(3rem + 3px);
}

side-bar {
  width: inherit;
}
