@import '../../../../../public/scss/variables';

p {
  margin: 0.5rem 0;
  padding: 1rem 0 1rem 1rem;
  background-color: $light-grey;
  border-radius: 4px;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

p:nth-child(odd) {
  background-color: $grey;
}

.label {
  font-weight: 700;
}
