@import '../../../../../public/scss/variables';

.question {
  padding: 1em;
  border-radius: 4px;
  background-color: $grey;
}

.asking {
  margin-top: 0;
}

.question-text {
  margin-bottom: 0;
}

.answer {
  margin-bottom: -1em;
}
