@import '../../../../../public/scss/variables';

.source {
  margin-top: 0;
}

ul {
  margin-bottom: 1em;
  padding: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  margin: 0;
  padding-left: 0;
  padding-right: 1em;
}

.bottom {
  margin: 0;
}

.bottom * {
  margin-right: 0.7em;
}

.text {
  color: $dark-grey;
}
