@import '../../../../assets/scss/variables';

.source {
  margin-top: 0;
}

ul {
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  margin: 0;
  padding-left: 0;
  padding-right: 1rem;
}

.bottom {
  margin: 0;
}

.bottom * {
  margin-right: 0.7rem;
}

.text {
  color: $font-color-light;
}

.clickable {
  cursor: pointer;
}
