@import '../../../../assets/scss/variables';

.placeholder {
  cursor: pointer;
  background-color: $primary-light;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  cursor: pointer;
  background-color: $primary-light;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

img:last-of-type {
  margin: 0;
}

img:-webkit-full-screen {
  width: inherit;
  margin: 0;
}

img:-moz-full-screen {
  width: inherit;
  margin: 0;
}

img:full-screen {
  width: inherit;
  margin: 0;
}
