@import '../../../assets/scss/variables';

@media screen and (min-width: 48em) {
  div {
    position: fixed;
    height: 100%;
    width: inherit;
    overflow: auto;
  }
}

div {
  background-color: $primary-light;
}

ul {
  padding: 1rem 0 1rem 2rem;
  margin: 0;
  list-style: none;
}

.settings {
  margin-bottom: 2rem;
}

.blog {
  margin-bottom: 1rem;
  display: table;
}

.blog a {
  word-break: break-word;
  padding-left: 0.5rem;
}

.selected {
  font-weight: bold;
}

.blog:not(.recent) a {
  color: $font-color-light;
}

span {
  display: table-cell;
  vertical-align: middle;
}

.avatar {
  display: table-cell;
  width: 1rem;
  height: 1rem;
}

a:link,
a:visited,
a:hover,
a:active {
  display: table-cell;
  vertical-align: middle;
  color: $font-color;
  text-decoration: none;
}
