@import '../../../../public/scss/variables';

@media screen and (min-width: 48em) {
  div {
    position: fixed;
    height: 100%;
    width: inherit;
    overflow: auto;
  }
}

div {
  background-color: $light-grey;
}

ul {
  padding: 1em 0 1em 2em;
  margin: 0;
  list-style: none;
}

.settings {
  margin-bottom: 2em;
}

.blog {
  margin-bottom: 0.8em;
  display: table;
}

.blog a {
  word-break: break-all;
  padding-left: 0.5em;
}

.selected {
  font-weight: bold;
}

span {
  display: table-cell;
  vertical-align: middle;
}

img {
  display: table-cell;
}

a:link,
a:visited,
a:hover,
a:active {
  display: table-cell;
  vertical-align: middle;
  color: $black;
  text-decoration: none;
}
